// FONTS =============================================================
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Noto+Sans:wght@800');

$body-font: 'Karla', sans-serif;
$title-font: 'Noto Sans', sans-serif;

$body-font-size: 12pt;

// COLOURS ===========================================================

$primary-white: var(--c1-white);
$primary-lightest: var(--c1-lightest);
$primary-light: var(--c1-light);
$primary: var(--c1);
$primary-dark: var(--c1-dark);
$primary-darkest: var(--c1-darkest);
$primary-black: var(--c1-black);
$secondary: var(--contrast);

// BREAKPOINTS =======================================================
// standard breakpoints from tailwind
// (https://tailwindcss.com/docs/breakpoints), just for use in SCSS
$break-sm: 640px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1280px;
$break-2xl: 1536px;

$breakpoints: $break-sm, $break-md, $break-lg, $break-xl, $break-2xl;
