:root {
  --contrast: #9e7578;
  --c1-white: #f2f2f2;
  --c1-lightest: #e6eaf2;
  --c1-light: #7A8390;
  --c1: #546870;
  --c1-dark: #3a3840;
  --c1-darkest: #28272b;
  --c1-black: #14141a;
}

@import './vars';

// GENERAL ===========================================================
body {
  background-color: $primary-white;
  color: $primary-darkest;
  font-family: $body-font;
  font-size: $body-font-size;
}

a, .clickable {
  cursor: pointer;
  color: $primary-dark;
  text-decoration: underline;
  text-decoration-color: $primary-lightest;
  transition: color 0.2s;

  &:hover {
    color: $primary-light;
  }
}

h1, h2, h3 {
  font-family: $title-font;
  font-weight: 800;
  letter-spacing: 0.03em;

  & a {
    text-decoration: none;
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;

  &.page-title {
    margin-bottom: 0.5em;
  }
}

h3 {
  font-size: 2em;
}

// SPECIFIC ELEMENTS =================================================
#header {
  background-image: url('../assets/leon-macapagal-cqnXyamtGE4-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  height: 100px;

  &.header-home {
    height: 200px;

    & .site-subtitle {
      display: block;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, change-color(#28272b, $alpha:0.8), change-color(#28272b, $alpha:0.4));
    content: '';
  }

  & .site-title {
    text-shadow: 2px 2px 0 $primary-dark;
  }

  & .site-subtitle {
    // by default, don't display the subtitle
    display: none;
    text-shadow: 1px 1px 0 $primary-darkest;
  }
}


#page-nav {
  grid-template-areas: 'logo menu nav auth';
  grid-template-columns: auto auto 1fr auto;
  grid-gap: 1em;

  a {
    text-decoration: none;
  }

  & #nav-auth {
    grid-area: auth;
  }

  & #nav-icon {
    grid-area: logo;
  }

  .nav-item {
    color: $primary-lightest;

    &:hover {
      margin-bottom: -2px;
      border-bottom: 2px solid $primary-light;
    }

    &--active {
      margin-top: 2px;
      color: $primary-lightest;
      border-bottom: 2px solid $secondary;
    }
  }

  .vue-feather {
    color: $primary-light;
  }
}

.main-content {
  background-color: white;
  width: 100vw;
}

@each $break in $breakpoints {
  @media (min-width: $break) {
    .main-content {
      width: $break * 0.9;
    }
  }
}

.page-grid {
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 0;
}

.vue-feather {
  color: $primary-darkest;
}


.linewrap .cm-line {
  white-space: pre-wrap;
}

.border-bottom {
  border-bottom-width: 2px;
}

.footer {
  a {
    color: $primary-lightest;
    text-decoration: none;
  }

  .vue-feather {
    color: $primary-lightest;
  }
}
